.app-logo-right {
    height: 40vmin;
    pointer-events: none;
}

.app-logo-left {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .app-logo-right {
        animation: App-logo-spin-right infinite 20s linear;
    }
    .app-logo-left {
        animation: App-logo-spin-left infinite 20s linear;
    }
}

@keyframes App-logo-spin-right {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes App-logo-spin-left {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}
